@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <a href="@Url.Action("Index", "Students")">Students</a><br />
    <a href="@Url.Action("Index", "Disciplines")">Disciplines</a><br />
    <a href="@Url.Action("Index", "Teachers")">Teachers</a>
</div>